body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    text-align: center;
    width: 300px; /* Increased width */
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px #888888;
}

.display-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#display {
    width: 70%; /* Adjusted width */
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    display: inline-block;
    background-color: white;
    border: none;
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    color: white;
}

.black {
    background-color: black;
}

.gray {
    background-color: grey;
}

.blue {
    background-color: blue; 
    color: white; 
}

.white {
    background-color: white;
    color: black;
}

.buttons {
    display: inline-block;
}
